<meta property="og:title" content="{{ if .IsHome }}{{ with .Site.Params.title }}{{ . }}{{ end }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ if .IsHome }}{{ with .Site.Params.title }}{{ . }}{{ end }}{{ else }}{{ .Params.location }}{{ end }}">
{{- $images := $.Resources.ByType "image" -}}
{{ $featured := ($images.GetMatch (.Params.featured_image | default "*feature*")) | default (index $images 0) }}
{{- with $featured -}}
  {{ $fullname := printf "%s.webp" (strings.TrimSuffix (path.Ext .Name) $featured.Permalink) }}
  <meta property="og:image" content="{{ absURL $fullname }}" />
{{- end -}}

