<section id="site-sidebar">
  {{ if gt .Site.Params.sidebar.postAmount 0 }}
      <header class="recent-header">
        <h1>{{ i18n "recent_posts" }}</h1>
      </header>
    <section id="recent-posts">
      {{ range first (.Site.Params.sidebar.postAmount | default 5) (where site.RegularPages "Type" "in" "technology") }}
      <article class="mini-post">
          {{ .Render "featured" }}
        <header>
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <time class="published" datetime="{{ .Date }}">{{ .Render "date" }}</time>
        </header>
      </article>
      {{ end }}
      {{ if ge (len (where site.RegularPages "Type" "in" site.Params.mainSections)) (.Site.Params.sidebar.postAmount | default 5) }}
      {{ end }}
    </section>
  {{ end }}
</section>
