<!--[if IE]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
<header id="site-header">
  <nav id="site-nav">
    <h1 class="nav-title">
      <a href="{{ "/" | relLangURL }}" class="nav">
        {{ if or .IsHome (not .Site.Params.header.dynamicTitles) }}
          {{ .Site.Params.header.navbarTitle  | safeHTML }}
        {{ else }}
          {{ i18n .Section | default .Title }}
        {{ end }}
      </a>
    </h1>
    <menu id="site-nav-menu" class="flyout-menu menu">
      {{ range .Site.Menus.main }}
        {{ if and (gt (len (findRE "fa[rsb]( fa-([a-z-]+))+" .Identifier)) 0) (not .Pre) }}
          {{/* Old syntax: use '.Identifier' for icon rendering */}}
          <a href="{{ .URL | relLangURL }}" class="nav link"><i class="{{ .Identifier }}">&nbsp;</i>{{ .Name }}</a>
        {{ else }}
          {{/* New syntax: use '.Pre' for icon rendering */}}
          <a href="{{ .URL | relLangURL }}" class="nav link">{{ .Pre | safeHTML}} {{ .Name }}</a>
        {{ end }}
      {{ end }}
    </menu>
    <a id="dark-mode-toggle" class="nav"><i class="fas fa-moon"></i></a>
    <a href="#site-nav" class="nav nav-toggle"><i class="fas fa-bars fa-2x"></i></a>
  </nav>
</header>
