<!--[if IE]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
<header id="site-header">
  <nav id="site-nav">
    <h1 class="nav-title">
      <a href="{{ "/" | relLangURL }}" class="nav">
        {{ if or .IsHome (not .Site.Params.header.dynamicTitles) }}
          {{ .Site.Params.header.navbarTitle  | safeHTML }}
        {{ else }}
          {{ i18n .Section | default .Title }}
        {{ end }}
      </a>
    </h1>
    <menu id="site-nav-menu" class="flyout-menu menu">
    </menu>
    <a href="/about" id="about" class="nav"><i class="far fa-id-card"></i></a>
    <a href="#dark-mode" id="dark-mode-toggle" class="nav"><i class="far fa-moon"></i></a>
  </nav>
</header>


