@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@font-face {
  src: url('fonts/raleway_400.ttf') format('truetype');
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url('fonts/raleway_800.ttf') format('truetype');
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
}
@font-face {
  src: url('fonts/icomoon.ttf') format('truetype');
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

main {
  animation: fadein 350ms;
}

.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-select:focus {
    outline: none !important;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}
.icon-theme-toggle:before {
  content: "\e901";
}
html.dark {
  color-scheme: dark;
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
img.lazyload:not([src]) {
  visibility: hidden;
}
.post {
  @apply rounded-2xl bg-neutral-100 transition-[filter] hover:brightness-90 dark:bg-neutral-800 dark:hover:brightness-110;
  -webkit-tap-highlight-color: transparent;
}
