@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@font-face {
  src: url('fonts/raleway_400.woff2') format('woff2');
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  src: url('fonts/raleway_800.woff2') format('woff2');
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: block;
}
@font-face {
  src: url('fonts/icomoon.woff2') format('woff2');
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

main {
  animation: fadein 350ms;
}

.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-select:focus {
    outline: none !important;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}
.icon-theme-toggle:before {
  content: "\e901";
}
html.dark {
  color-scheme: dark;
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
img.lazyload:not([src]) {
  visibility: hidden;
}

.post {
  @apply rounded-2xl bg-neutral-100 transition-[filter] hover:brightness-90 dark:bg-neutral-800 dark:hover:brightness-110;
  -webkit-tap-highlight-color: transparent;
}

.avatar {
  border-radius: 50%;
}
.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.home {
  @apply mx-auto w-10/12 grow;
  max-width: 42rem;
  margin: 0 auto;
  padding: 1rem 0rem 0rem;
}
h1 {
  font-size: 1.35rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  margin: 0;
}
a.button {
  text-decoration: inherit;
  text-align: center;
  display: block;
  background-color: #e5e5e5;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-tap-highlight-color: transparent;
}
