{{- define "description" -}}
  {{- if .IsHome }}{{ with .Site.Title }}{{ . }}{{ end }}{{ else }}{{ .Params.location }}{{ end -}}
{{- end -}}
<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    {{ if .IsHome -}}
      <title>{{ .Site.Title }}</title>
    {{- else -}}
      <title>{{ .Title }}</title>
    {{- end }}
    <meta charset="utf-8" />
    {{ if .Params.private }}
      <meta name="robots" content="noindex, nofollow, noarchive" />
    {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="{{ block "description" . }}{{ end -}}" />
    <meta property="og:title" content="{{ if .IsHome }}{{ with .Site.Title }}{{ . }}{{ end }}{{ else }}{{ .Title }}{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ if .IsHome }}{{ with .Site.Title }}{{ . }}{{ end }}{{ else }}{{ .Params.location }}{{ end }}">
    {{- $images := $.Resources.ByType "image" -}}
    {{ $featured := ($images.GetMatch (.Params.featured_image | default "*feature*")) | default (index $images 0) }}
    {{- with $featured -}}
      {{ $fullname := printf "%s.webp" (strings.TrimSuffix (path.Ext .Name) $featured.Permalink) }}
      <meta property="og:image" content="{{ absURL $fullname }}" />
    {{- end -}}
    <link rel="icon" type="image/svg+xml" href="{{ "images/favicon.svg" | relURL }}" />
    <link rel="icon" type="image/png" href="{{ "images/favicon.png" | relURL }}" />
    <link rel="preload" href="/css/fonts/icomoon.ttf" as="font" crossorigin>
    <link rel="preload" href="/css/fonts/raleway_400.ttf" as="font" crossorigin>
    <link rel="preload" href="/css/fonts/raleway_800.ttf" as="font" crossorigin>
    {{ $css := resources.Get "/css/styles.css" | resources.PostCSS (dict "inlineImports" true) | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
    {{ block "extra_css" . }}{{ end -}}
    {{ $theme := resources.Get "js/theme.js" | js.Build (dict "minify" true) | resources.Fingerprint }}
    <script src="{{ $theme.RelPermalink }}" defer></script>
    {{ if .IsHome -}}
      {{ $quotes := resources.Get "js/quotes.js" | js.Build (dict "minify" true) | resources.Fingerprint }}
      <script src="{{ $quotes.RelPermalink }}" defer></script>
      {{ $lazy := resources.Get "js/lazy.js" | js.Build (dict "minify" true) | resources.Fingerprint }}
      <script src="{{ $lazy.RelPermalink }}" defer></script>
    {{- end }}
    {{ block "extra_js" . }}{{ end -}}
  </head>
  <body class="flex min-h-full flex-col bg-white text-neutral-900 antialiased dark:bg-neutral-900 dark:text-neutral-100">
    <header class="w-full">
      <div class="mx-auto flex max-w-screen-3xl flex-wrap justify-between px-6">
        <div class="flex h-16 w-full justify-between">
          <a class="inline-flex items-center py-4 text-3xl font-medium dark:text-neutral-100" href="{{ .Site.Home.RelPermalink }}" title="Home">
            <span class="icon-home"></span>
          </a>
          <a class="inline-flex items-center py-4 text-2xl font-medium dark:text-neutral-100" href="{{ relURL "about/" }}" title="About">
            <span class="icon-about"></span>
          </a>
        </div>
      </div>
    </header>
    <main class="mx-auto w-full max-w-screen-3xl grow">
      {{- block "main" . }}{{- end }}
    </main>
    <footer class="mx-auto mb-10 mt-4 flex max-w-screen-3xl flex-none flex-wrap justify-center px-6 text-center text-sm text-neutral-600 dark:text-neutral-400">
      <p>{{ replace .Site.Copyright "{year}" now.Year }}</p>&nbsp &nbsp
      <button id="theme-toggle" title="Toggle light/dark theme"><span class="icon-theme-toggle"></span></button>
    </footer>
  </body>
</html>
